* {
  padding: 0px;
  margin: 0px;
  transition: 0.8ms;
  scroll-behavior: smooth;
}
/* ---------
common style or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
}

main {
  display: flex;
  justify-content: center;
}
/* banner */

.banner-container {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.banner-description {
  margin-left: 50px;
}
.title-text {
  font-size: 50px;
}
.title-description {
  font-size: 20px;
}
.banner-button {
  margin-top: 20px;
  width: 240px;
  height: 80px;
  background-color: red;
  font-size: 25px;
  font-weight: 700;
  border-radius: 10px;
  transition: ease-out 0.4s;
  outline: none;
}
.banner-button:hover {
  color: gainsboro;
  cursor: pointer;
}
/* ---------
      footer
-------------  */
.footer-container {
  background-color: black;
  color: white;
  padding-top: 80px;
  padding-bottom: 120px;
}
.footer-title {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.footer-text {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-left: 100px;
}
.footer-icon {
  display: grid;
  grid-template-columns: repeat(1fr);
  justify-content: center;

  padding-top: 60px;
}
